.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(172, 172, 172, 0.138);
}

.auth-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    border: 0.2px solid rgba(254, 254, 254, 0.97);
    background-color: rgba(46, 46, 46, 0.478);
    position: relative;
}

.forms-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.form-field {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    box-sizing: border-box;
}

input:focus {
    border-color: #ffffff;
    outline: none;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

input:hover {
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.error {
    color: red;
    margin-top: 0.5rem;
}

button[type="submit"] {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.register-link {
    text-align: center;
    margin-top: 1rem;
    color: white;
}

.register-link a {
    color: #237de3;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
    cursor: pointer;
}

button[type="submit"]:disabled {
    background-color: #0057b331;
    cursor: not-allowed;
}