<div class="analytics-container">

    <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="chartData" [legend]="showLegend" [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
        [xAxisTickFormatting]="xAxisTickFormatting" [yScaleMin]="yScaleMin" [yScaleMax]="yScaleMax" [xScaleMin]="xScaleMin" [xScaleMax]="xScaleMax" [autoScale]="false" [roundDomains]="true" [animations]="true" [tooltipDisabled]="false" colorScheme="cool">
    </ngx-charts-line-chart>

</div>