<div class="logs-dashboard">


    <table class="results-table">
        <thead>
            <tr>
                <th>Time</th>
                <th>AI Prediction</th>
                <th>Confidence</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @for (log of logs; track log) { @if (log.prediction === 'bark' && log.confidence > 0.85) {
            <tr>
                <td>{{ log.timestamp | date:'MMM dd, yyyy - HH:mm:ss' }}</td>
                <td>{{ log.prediction }}</td>
                <td>{{ log.confidence | percent:'1.1-1' }}</td>
                <td>
                    <span class="status" [class]="log.prediction">{{ log.prediction }}</span>
                </td>
            </tr>} }
        </tbody>
    </table>
</div>